body{
  margin:0;
  padding-top:200px;
  font-family: 'Press Start 2P', cursive;
  text-align:center;
}

#target{
  font-size:30px;
  letter-spacing: 1px;;
}

#btn{
  font-size:20px;
  width:300px;
  margin:50px auto;
  background-color:rgb(248, 172, 9);
  padding:10px;
  cursor: pointer;
  border-radius: 5px;
  user-select:none;
  box-shadow:0 5px rgb(190, 131, 3);
}

#btn:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

#btn{
  cursor: pointer;
  margin-top:100px;
}

.info{
  padding-top:10px;
  color:#bbb;
  display:none;
  font-size:12px;
}


#result-wrapper{
  position: absolute;
  top:  0;                    /* 上からの位置指定 */
  bottom:  0;                 /* 下からの位置指定 */
  left:  0;                   /* 左からの位置指定 */
  right:  0;                  /* 右からの位置指定 */
  margin:  auto;              /* 位置調整と組み合わせて上下中央に */
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 700px;
  height: 700px;
  text-align: center;
}

#modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#rankpicture{
  background-color: #e6ecf0;
}

#rank{
  font-weight:bold;
  font-size:30px;
}

#gg{
  font-size:40px;
  font-weight:bold;
}

#restart{
  color:#bbb;
  display:none;
  margin-top:20px;
  padding:10px;
  font-size:12px;
}

#tonextrank{
  padding-top:10px;
}
